#logo #shadow{position: relative;top: -75px; left:0;}
#nav .shadow{position: relative;top: -15px; left:0;}
.content{padding: 35px 0 0 0;width:493px;}
.content .in{position: relative; left:10px;}
.panel #panel-position{position: relative;top: -13px;}
#nav ul li a{overflow: hidden;}